@charset "UTF-8";
/* CSS Document */

html body {
    font-family: Calluna, sans-serif;
    background-color: ivory;
}
.nav-bar-color {
    background-color: antiquewhite;
}

.red-col {
    background-color: red;
}

.green-col {
    background-color: green;
}

/*.nav-bar-color {
    background-color: rgb(228, 108, 108, 1);
}*/

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: grey !important;
}

.nav-highlight, .navbar-brand {
    color: #000 !important;
    font-weight: 700;
}

.navbar-toggler {
    filter: invert(100%)
}

h1 {
    /*font-size: 1.802em;*/
    font-size: 2.8em;
    font-weight: 700;
}

h2 {
    font-size: 1.602em;
    /*font-weight: 700;*/
}

h3 {
    font-size: 1.424em;
    /*font-weight: 700;*/
}

h4 {
    font-size: 1.266em;
}

.footer-custom {
    background-color: aliceblue;
    text-align: center;
}

.text-center p {
    margin-bottom:0;
}

pre {
    margin-bottom: 0;
}

.preDiv {
    margin: auto 0;

}

.hOne h1{
    font-family: 'Calluna', serif;
    font-size: 71.55px;
    font-weight: 300;
    font-style: normal;
}

.hOne p, .hTwo p, .hThree p, 
.hFour p, .bTxt p, .empTxt p, .inLink p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 24px;
}

.hTwo h2 {
    font-family: 'Calluna', serif;
    font-size: 53.67px;
    font-weight: 325;
    font-style: normal;
}

.hThree h3 {
    font-family: 'Calluna', serif;
    font-size: 40.27px;
    font-weight: 550;
    font-style: normal;
}

.hFour h4 {
    font-family: 'Calluna', serif;
    font-size: 30.21px;
    font-weight: 400;
    font-style: italic;
}

.bTxt div {
    font-family: 'Calluna', serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
}

.empTxt div {
    font-family: 'Calluna', serif;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
}

.empTxt em {
    font-weight: 700;
}

.inLink div {
    font-family: 'Calluna', serif;
    font-size: 17px;
    font-weight: 550;
    font-style: normal;
    color: initial;
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: #36ABFD;
}

.inLink .linkHeader {
    margin-bottom: 20px;
}

.inLink a:hover {
    color: #2C8BD0;
    text-decoration: none;
}

.aviano .hOne p, .aviano .hTwo p, .aviano .hThree p, 
.aviano .hFour p, .aviano .bTxt p, .aviano .empTxt p, .aviano .inLink p {
    font-size: 17px;
    font-family: 'Aviano Sans', serif;
    font-weight: 400;
    margin-top: 24px;
}

.aviano .hOne h1{
    font-family: 'Aviano', serif;
    font-size: 67.34px;
    font-weight: 300;
    font-style: normal;
}

.aviano .hTwo h2 {
    font-family: 'Aviano', serif;
    font-size: 50.52px;
    font-weight: 325;
    font-style: normal;
}

.aviano .hThree h3 {
    font-family: 'Aviano', serif;
    font-size: 37.90px;
    font-weight: 625;
    font-style: normal;
}

.aviano .hFour h4 {
    font-family: 'Aviano', serif;
    font-size: 28.43px;
    font-weight: 700;
    font-style: italic;
}

.aviano .bTxt div {
    font-family: 'Aviano Sans', serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.aviano .empTxt div {
    font-family: 'Aviano Sans', serif;
    font-size: 16px;
    font-weight: 725;
    font-style: normal;
}

.aviano .empTxt em {
    font-weight: 700;
}

.aviano .inLink div {
    font-family: 'Aviano', serif;
    font-size: 16px;
    font-weight: 550;
    font-style: normal;
    color: #2F41DE;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-decoration-color: #ACB3F2;
}

.aviano .inLink a:hover {
    text-decoration-style: wavy;
}

.aviano em {
    font-style: normal;
}

.bebas .hOne p, .bebas .hTwo p, .bebas .hThree p, 
.bebas .hFour p, .bebas .bTxt p, .bebas .empTxt p, .bebas .inLink p {
    font-size: 17px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
    margin-top: 24px;
}

.bebas .hOne h1{
    font-family: 'Bebas Neue', serif;
    font-size: 67.34px;
    font-weight: 300;
    font-style: normal;
}

.bebas .hTwo h2 {
    font-family: 'Bebas Neue', serif;
    font-size: 50.52px;
    font-weight: 325;
    font-style: normal;
}

.bebas .hThree h3 {
    font-family: 'Bebas Neue', serif;
    font-size: 37.90px;
    font-weight: 625;
    font-style: normal;
}

.bebas .hFour h4 {
    font-family: 'Bebas Neue', serif;
    font-size: 28.43px;
    font-weight: 700;
    font-style: italic;
}

.bebas .bTxt div {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.bebas .empTxt div {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: 725;
    font-style: normal;
}

.bebas .empTxt em {
    font-weight: 700;
}

.bebas .inLink div {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #065C95;
    text-decoration: underline;
}

.bebas .inLink a:hover {
    color: #FFFFFF;
    background-color: #065C95;
    text-decoration: none;
}

.bebas em {
    font-style: normal;
}